#contact
  text-align: center
  height: 85vh
  max-width: 500px
  margin: 50vh auto 0

  .contact-content
    position: relative
    top: 50%
    transform: translateY(-50%)

  .marked
    color: $pink !important

  p
    margin-bottom: 20px
    text-align: justify

  .email
    padding: 10px 20px
    margin: 20px auto
    display: block
    width: 242px
    color: #fff
    border: 1px solid #fff
    transition: .5s ease
    text-decoration: none
    &:hover
      color: #fff
      background-color: $pink
      border-color: $pink

  .contact-icon
    display: flex
    justify-content: space-around
    width: 242px
    margin: 20px auto

    .fa
      font-size: 50px
      color: #fff
      transition: .5s ease
      &:hover
        color: $pink

  .back-to-top
    display: inline-block
    max-width: 60px
    margin: 50px auto
    padding: 10px
    border: 1px solid #fff
    -webkit-transform: rotate(-45deg) translateX(-50%)
    -moz-transform: rotate(-45deg) translateX(-50%)
    -ms-transform: rotate(-45deg) translateX(-50%)
    -o-transform: rotate(-45deg) translateX(-50%)
    transform: rotate(-45deg)
    transition: .5s ease
    position: relative
    &:hover
      background-color: #fff

    .fa
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
      transition: .5s ease
      font-size: 16px
      color: #fff

  .back-to-top:hover .fa
    color: $pink
