@media (max-width: 768px)

  //  GLOBAL
  body
    background-position: -850px -215px

    #title, #about, #portfolio, .contact
      padding: 20px
      h2
        vertical-align: super
      .nav-btn
        vertical-align: sub

  //  TITLE PAGE
  #title
    .buttons
      #about-btn:before
        content: 'About me'
        color: #fff
        visibility: visible
        opacity: 1
        transform: rotateZ(-45deg) translate(0%, -33%)
        border: none
        top: 50%
        left: 50%
        display: block
      #about-btn:hover:before
        transform: rotateZ(-45deg) translate(19%, 38%)
        color: $pink
      #about-btn:after
        display: none
      #about-btn
        .fa
          visibility: hidden

      #portfolio-btn:before
        content: 'Portfolio'
        color: #fff
        font-size: 18px
        visibility: visible
        opacity: 1
        transform: rotateZ(-45deg) translate(-2%, -290%)
        border: none
        top: 50%
        left: 50%
        display: block
      #portfolio-btn:hover:before
        transform: rotateZ(-45deg) translate(-2%, -290%)
        color: $pink
      #portfolio-btn:after
        display: none
      #portfolio-btn
        .fa
          visibility: hidden

      .logo
        background-color: #fff
        &::before
          display: none
        &::after
          display: none
        p
          color: $pink

      hr
        display: none

  //     ABOUT ME PAGE
  #about
    #return-about
      &::before
        display: none
      &::after
        display: none

    .about
      flex-direction: column-reverse

      .profile-photo
        margin: 50px 0
        left: 50%
        transform: translateX(-90%)

  //     PORTFOLIO
  #portfolio
    .portfolio
      #return-portfolio
        &::before
          display: none
        &::after
          display: none

      #gallery
        display: flex
        flex-direction: column
        .thumb
          width: 100%

      .overlay
        left: 0
        width: 100%
        &::after
          display: none

  //    PROJECT
  .buttons
    a
      &::before
        display: none
      &::after
        display: none

@media (max-width: 500px)
  //   GLOBAL
  body
    h1
      font-size: 3em !important
    h2
      font-size: 1.5em !important

  // MAIN PAGE
  #title
    left: 0

  //   ABOUT ME PAGE
  #about
    #return-about
      padding: 7px
      margin-left: 20px

    h2::after
      width: 135px

    li
      margin-left: 0
      .icon
        position: static
        display: inline-block
        margin-right: 20px
        transform: translateY(20px)
        &:last-of-type
          margin-right: 10px
      h3
        display: inline-block
      p
        text-align: justify
      span::after
        visibility: hidden

  //   PORTFOLIO
  #portfolio
    #return-portfolio
      padding: 7px
      margin-left: 20px

    h2::after
      width: 85px

//    SCREEN HEIGHT
@media (max-height: 520px)
  body h1
    margin-top: 0 !important


//    PROJECT
@media (max-width: 1010px)

  .proj-desc h1
    font-size: 2.3em !important

@media (max-width: 800px)
  .prject-desc
    border-right: none
  .project-view
    display: flex
    flex-direction: column
    .proj-desc
      position: static
      width: 100%
      padding-bottom: 50px
      .buttons
        top: 0
      a
        text-decoration: none

      #portfolio-btn
        &::before
          display: none
        &::after
          display: none
      #about-btn
        &::before
          display: none
        &::after
          display: none

    .proj-gallery
      width: 100%
      transform: translateX(0)
