.loader {
  background-color: var(--color-white);
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  position: relative;

  .loader__item {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-white);

    &.loader__item--first {
      animation: 2s linear 0s infinite forwards pulse,
    }

    &.loader__item--second {
      animation: 2s linear 1s infinite forwards pulse,
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}