@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #ff3f42;
  --color-accent-light: #f3ad94;
  --color-black: black;
  --color-navy: #38354a;
  --color-white: white;
}

body {
  color: var(--color-white);
  text-align: justify;
  font-size: 16px;

  .marked {
    @apply text-yellow-200;
  }

  .marked-link {
    @apply underline;

    &:hover {
      @extend .marked;
    }

    @media screen and (max-width: 370px) {
      @apply text-yellow-200;
    }
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 19px;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 20px;
  }
}