@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: black;
  --color-navy: #38354a;
  --color-white: white;
}

body {
  color: var(--color-white);
}

.view__about {
  animation: slide-from-left 0.2s ease-in 1 forwards;
}
.view__experience {
  animation: slide-from-right 0.2s ease-in 1 forwards;
}
.view__contact {
  animation: slide-from-down 0.2s ease-in 1 forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-down {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
