@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #ff3f42;
  --color-accent-light: #f3ad94;
  --color-black: black;
  --color-navy: #38354a;
  --color-white: white;
}

body {
  color: var(--color-white);
  text-align: justify;

  .marked {
    @apply text-yellow-200;
  }
}